@import "tailwindcss";


* {
  font-family: "Inter", sans-serif;

  box-sizing: border-box;
}

@theme {
  --color-white: #fafaff;
  --color-white-soft: #eef0f2;
  --color-gray: #daddd8;
  --color-dark: #1c1c1c;
  --color-dark-soft: #2c2c2c;
  --color-accent: #0a0a0b;

  --font-inter: "Inter", sans-serif;
  --font-accent: "AccentFont", sans-serif;
  --font-castoro: "Castoro Titling", "Times New Roman";
}

.logo {
  font-family: "Castoro Titling", "Times New Roman";
  font-weight: lighter;
}

.bannerText {
  font-weight: 100;
}

@font-face {
  font-family: "AccentFont";
  src: url("./assets/TANBUSTER-Bold.otf") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.cardScroll,
.contactScroll,
.tble {
  &::-webkit-scrollbar {
    display: none;
  }
}

.links, .a{
  font-family: "Castoro Titling", "Inter";
  font-weight: 400;
  color: var(--color-dark);
}


td, th{
  padding: 12px;
  border: 1px solid rgba(219, 222, 217, 0.2);
  text-align: center;
}